@import url(/css/first-styles.css);
@import url(/css/font-styles.css);


/* navigation section */
/* ------------------------ */


.navigation {
  background: url('/images/TOPBAR\ 1.png') no-repeat 50% 0%;
  background-size: 100% ;
  display: flex;
  font-family: 'DM Sans Medium';
  align-items: center;
  padding: 1.25rem 8rem;
  justify-content: space-between;
}
.navigation__logo {
  display: flex;
  align-items: center;
}
.navigation__logo span{
  padding-left: 20px;
  font-size: 40px;
  letter-spacing: 0.5rem;
  font-family: 'DM Sans Bold';
}
.menu__list {
  display: flex;
  align-items: center;
}
.list__li {
  padding: 0 40px;
}
.list__li a{
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.16em;
  color: #000;
  text-transform: uppercase;
}
.list__li a:hover{
  color: rgb(255, 130, 192);
}
.menu__button {
  font-family: 'DM Sans Bold';
  font-size: 24px;
  line-height: 130%;
letter-spacing: 0.12em;
text-transform: uppercase;
padding: 10px 30px;
color: #000000;
border: 2px solid #4A4A4A;
border-radius: 300px;
background: none;
}

.menu__button:hover{
  transform: scale(1.2);
}
input{
  display: none;
}
.menu__burger{
  display: none;
}
.menu__burger span{
  margin-bottom: 5px;
  border-radius: 2px;
  width: 50px;
  height: 6px;
  background-color: rgb(0, 0, 0);
}

/* .menu__burger span:last-child {
  transform-origin: center right;

}
.menu__burger span:nth-child(2) {
  transform-origin: center center;
} */


.menu__burger > input:checked  ~ span:last-child{
  transform: rotate(35deg);
}
.menu__burger > input:checked  ~ span:nth-child(2){
  transform: rotate(-35deg);

}
.menu__burger > input:checked  ~ span:nth-child(3){
  display: none;
}


@media (min-width: 375px) and (max-width: 450px) {
  .menu__list{
    display: none;
  }
  .navigation{
  background: url('/images/TOPBAR\ 1.png') no-repeat 50% 0%;
    padding: 20px 0;
    justify-content: space-around;
  }

  .navigation__logo span{
    padding-left: 10px;
  }
  .menu__burger{
    display: flex;
    flex-direction: column;
  }
  input{
    display: flex;
    opacity: 0;
  }
}
